services:
 - type: web
 name: springboot-render-demo
 env: java
 plan: free
 buildCommand: ./mvnw clean package -DskipTests
 startCommand: java -jar target/*.jar
 envVars:
 - key: SPRING_PROFILES_ACTIVE
 value: production